<div class="service-wrapper">
  <div class="service-image">
    <img class="image" [src]="service.image" alt="Logo">
  </div>
  <h3 class="service-description-header">{{service.header}}</h3>
  <p class="service-description-description">{{service.description}}</p>
  <div class="service-description-price">{{service.priceLabel}}:
      <span class="value" *ngIf="service.price !== undefined; else noprice">{{service.currency}} {{service.price}}/{{service.period}}</span>
      <ng-template #noprice>
        <span class="value">{{service.noPriceValue}}/{{service.period}}</span>
      </ng-template>
    </div>
  <div class="service-attend-button-wrapper">
    <div class="service-attend-button">
      <app-attend-button [service]="service"></app-attend-button>
    </div>
  </div>
</div>
