<nav id="navigation" class="navigation">
  <ul class="navigation-list">
    <li class="navigation-list-item" *ngFor="let navItem of nav">
      <a class="navigation-list-item-text" [routerLink]="navItem.href" routerLinkActive="active" *ngIf="navItem.anchor !== 'contacts'; else contactsTpl" ngx-scroll-to="navigation">
        {{navItem.header}}
      </a>
      <ng-template #contactsTpl>
        <a class="navigation-list-item-text" ngx-scroll-to="contacts">
          {{navItem.header}}
        </a>
      </ng-template>
    </li>
  </ul>
</nav>
