<header  id="pagetop" class="header-block-wrapper" [class.is-root]="isRoot">
  <div class="nav-wrapper" [class.fixed]="isFixed" [class.hidden]="!showHeaderLine1" *ngIf="!isMobile || isNavOpen">
    <div class="line-1">
      <div class="inner">
        <div class="logo">
          <a class="link-root desktop" [routerLink]="routerLink" *ngIf="title" ngx-scroll-to="pagetop">
            <h4>
              <span class="accent">{{title[0]?.toUpperCase()}} </span>
              <span>{{title[1]?.toUpperCase()}}</span>
            </h4>
          </a>
        </div>
        <div class="soc-lang">
          <app-social class="social" (click)="toggleNavOpen(false)"></app-social>
          <app-language-selector [(isLanguageListOpen)]="isOpen" class="language"></app-language-selector>
        </div>
      </div>
    </div>
    <div class="line-2">
      <div class="inner">
        <div class="nav">
          <app-navigation class="navigation" (click)="toggleNavOpen(false)" [isArticlePage]="isArticlePage"></app-navigation>
        </div>
      </div>
    </div>
    <div class="close-button" (click)="toggleNavOpen(false)"></div>
  </div>
  <div class="m-nav-wrapper" [class.fixed]="showHeaderLine1">
    <a class="link-root mobile" routerLink="" *ngIf="title">
      <h4>
        <span class="accent">{{title[0]?.toUpperCase()}} </span>
        <span>{{title[1]?.toUpperCase()}}</span>
      </h4>
    </a>
    <div class="hamburger" (click)="toggleNavOpen(true)">
      <div class="strips"></div>
    </div>
  </div>
  <h1 class="page-header" [class.fixed]="isFixed" [innerHTML]="header">

  </h1>
  <div class="button-wrapper" *ngIf="showButton">
    <div class="button">
      <app-attend-button></app-attend-button>
    </div>
  </div>
</header>
