<div class="modal-wrapper" @fade *ngIf="isModalOpen"></div>
<div class="modal-container" @fade *ngIf="isModalOpen" (click)="closeModal('dismiss', null)">
  <div class="modal-window"
       [class.full-screen]="isFullScreen"
       [class.is-alert]="isAlert"
       [class.is-privacy-policy]="isPrivacyPolicy"
       (click)="stopPropagation($event)">
    <div class="modal-close-button" (click)="closeModal('dismiss', null)" *ngIf="canClose"></div>
    <ng-container *ngTemplateOutlet="template; context: {modalData: context, events: events$}"></ng-container>
  </div>
</div>

<ng-template #lightboxTpl let-modalData="modalData">
  <div class="lightbox-wrapper">
    <img class="lightbox-image" [src]="modalData" alt="photo" (click)="openPicture(modalData)">
  </div>
</ng-template>

<ng-template #alertTpl let-modalData="modalData">
  <div class="message-wrapper">
    <h3 class="header">{{modalData.header}}</h3>
    <p class="text">{{modalData.body}}</p>
    <button class="button" (click)="closeModal('success', null)">OK</button>
  </div>
</ng-template>

<ng-template #tcModalLoadingTpl let-modalData="modalData">
  <h3>{{modalData}}</h3>
</ng-template>

<ng-template #tcModalTpl let-modalData="modalData">
  <h3>{{modalData.header}}</h3>
  <div [innerHTML]="modalData.body" class="pp-body"></div>
  <button class="button" (click)="closeModal('success', null)">OK</button>
</ng-template>
