<button class="attend-button accent" (click)="openModal(modalAppointment)" *ngIf="services">
  {{header}}
</button>

<ng-template #modalAppointment let-modalData="modalData" let-events="events">
  <form (ngSubmit)="submit(appointmentForm, captchaElement)" #appointmentForm="ngForm" [formGroup]="formGroup">
    <h3 class="header">{{modalData.header}}</h3>
    <app-input [label]="modalData.name" type="text" formControlName="name" autocomplete="name"></app-input>
    <div class="explanation uniq-field-err">{{errorObj.name}}</div>
    <div class="messenger">
      <app-select class="msn-select" [label]="contactNameLabel" type="text" formControlName="contactNameControl"
                  icon="icon-small-arrow-down" listDisplayProperty="name" [list]="messengerNames"
                  [events$]="events"></app-select>
      <div class="msn-input-wrapper">
        <app-input [label]="contactValueLabel" [type]="contactValueType" formControlName="contactValueControl"
                   autocomplete="tel"></app-input>
      </div>
    </div>
    <app-input [label]="modalData.email" type="email" formControlName="email" autocomplete="email"></app-input>
    <div class="explanation uniq-field-err">{{errorObj.email}}</div>
    <div class="datetime">
      <app-date-input class="date" [label]="modalData.date" type="text"
                      formControlName="date" icon="icon-calendar" [events$]="events" [control]="dateControl"
                      [schedule]="schedule" [subscr]="modalData.datesubscr"></app-date-input>
      <app-select class="time" [label]="modalData.time" type="text" formControlName="time"
                  icon="icon-clock" [list]="timeSlots" [events$]="events" [subscr]="modalData.timezone"></app-select>
    </div>
    <app-select class="time" [label]="modalData.service" type="text" formControlName="service"
                icon="icon-small-arrow-down" [list]="services" [events$]="events"
                listDisplayProperty="headerAndPrice"></app-select>
    <app-textarea [label]="modalData.message" type="text" formControlName="message"></app-textarea>
    <div class="recaptcha">
      <ngx-recaptcha2 #captchaElement formControlName="recaptcha" [hl]="lang" theme="light" (expire)="handleExpire()"
                      (success)="handleSuccess($event)"></ngx-recaptcha2>
    </div>
    <button class="submit-button" type="submit" [disabled]="appointmentForm.invalid || isSubmitting">
      {{modalData.submit}}
      <span class="loader" *ngIf="isSubmitting"></span>
    </button>
    <div class="explanation">
      <p class="explanation-p" *ngFor="let p of explanation">
        {{p}}
      </p>
    </div>
  </form>
</ng-template>

<ng-template #modalAppointmentMessage let-modalData="modalData">
  <div class="message-wrapper">
    <h3>{{modalData.header}}</h3>
    <p>{{modalData.text}}</p>
  </div>
</ng-template>
