<div class="input-wrapper" [class.disabled]="isDisabled" (click)="stopPropagation($event)">
  <div class="input-label" (click)="toggleList()">
    <div class="input"
         [attr.tabindex]="!isDisabled ? 0 : false"
         (keydown.enter)="openListAndSelectClearList()"
         (keydown.arrowDown)="openListAndSelectClearList()"
         (keydown.arrowUp)="closeListAndResetFocus()"
         (keydown.escape)="closeListAndResetFocus()"
         #selectEl>
      <span>{{value}}</span>
    </div>
    <div class="input-text" [class.top]="value && value.length">{{label}}</div>
    <span class="input-icon" [ngClass]="icon" *ngIf="icon"></span>
  </div>
  <ng-container *ngIf="isListOpen">
    <div class="list-wrapper" *ngIf="preparedList?.length">
      <ul class="list">
        <li class="list-item"
            tabindex="0"
            data-is-empty
            (click)="setActiveItem(null)"
            (keydown.enter)="setActiveItem(null)"
            (keydown.escape)="closeListAndResetFocus()"
            (keydown.arrowUp)="selectLastItem()"
            (keydown.arrowDown)="selectFirstItem()"
            #clearSelectionEl>
          {{clearSelectionLabel}}
        </li>
        <li class="list-separator"></li>
        <ng-container *ngIf="preparedList?.length">
          <ng-container *ngFor="let listItem of preparedList; let index = index; let isLast = last">
            <ng-container *ngIf="listItem !== '_'">
              <li class="list-item"
                  tabindex="0"
                  [class.separator]="!isLast && listItem.isNextSeparator"
                  (click)="setActiveItem(listItem)"
                  (keydown.enter)="setActiveItem(listItem)"
                  (keydown.escape)="closeListAndResetFocus()"
                  (keydown.arrowUp)="selectPreviousItem(index)"
                  (keydown.arrowDown)="selectNextItem(index)"
                  #listItemEl>
                <ng-container *ngIf="listDisplayProperty; then object; else plain"></ng-container>
                <ng-template #object>
                  <span>{{listItem[listDisplayProperty]}}</span>
                </ng-template>
                <ng-template #plain>
                  <span>{{listItem}}</span>
                </ng-template>
              </li>
            </ng-container>
          </ng-container>
        </ng-container>
      </ul>
    </div>
  </ng-container>
  <div class="input-subscr">{{subscr}}</div>
</div>
