@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.diplomas {
  &-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    @include desktop-sm-breakpoint {
      flex-direction: column;
    }

    @include mobile-breakpoint-landscape {
      flex-direction: row;
    }
  }

  &-item {
    width: calc(50% - 10px);
    height: 330px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 50px;

    @include desktop-sm-breakpoint {
      width: 100%;
      margin-top: 100px;
    }

    @include mobile-breakpoint-landscape {
      width: calc(50% - 10px);
    }
  }
}

@include mobile-breakpoint-landscape {
  app-service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
