/* You can add global styles to this file, and also import other style files */
@import 'app/styles/variables';
@import 'app/styles/mixins';
@import 'icomoon';
@import 'basefont';
@import 'material-icons';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;

  font-family: Montserrat, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  color: $color-text-regular;

  a {
    color: $color-text-regular;
    text-decoration: none;
  }

  button {
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 50px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, .15);
    transition: .3s transform ease;

    &:hover {
      transform: scale(1.2);
      transition: .3s transform ease;
      z-index: 5;
    }
  }

  .text-paragraph a {
    color: $color-text-accent;

    &:hover {
      text-decoration: underline;
    }
  }

  h1, h2, h3, h4, .h1 {
    margin: 0;
    padding: 0;
  }

  h1, .h1 {
    font-size: 52px;
    line-height: 60px;
    font-weight: 700;
  }

  h2 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
  }

  h3 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
  }

  h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }

  .accent {
    color: $color-text-accent;
  }

  @include mobile-breakpoint {
    font-size: 15px;
    line-height: 22px;

    h1 {
      font-size: 38px;
      line-height: 33px;
      font-weight: 700;
    }

    h2 {
      font-size: 20px;
      line-height: 22px;
      font-weight: 700;
    }

    h3 {
      font-size: 15px;
      line-height: 22px;
      font-weight: 700;
    }

    h4 {
      font-size: 15px;
      line-height: 22px;
      font-weight: 700;
    }
  }

  .container {
    width: calc(100% - 200px);
    margin: auto;

    @include mobile-breakpoint {
      width: 90%;
    }
  }
}

* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  padding: 0;
  margin: 0;
}
