@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.content {
  margin: 0 auto 250px;

  @include mobile-breakpoint {
    margin-bottom: 100px;
    margin-top: -50px;
  }
}

.modal-confirm-wrapper {
  .button-wrapper {
    display: flex;
    justify-content: flex-end;

    .button {
      height: 40px;
      border: none;
      text-transform: uppercase;
      font-weight: 700;
      padding: 0 50px;
      font-family: 'Montserrat', sans-serif;
      cursor: pointer;
      position: relative;
      font-size: .8rem;
      box-shadow: 0 0 24px 0 rgba(0, 0, 0, .15);
      transition: .3s transform ease;
      margin-left: 10px;

      &:hover {
        transform: scale(1.2);
        transition: .3s transform ease;
        z-index: 5;
      }

      &.yes {
        background-color: $color-text-accent;
        color: #ffffff;
      }

      &.no {
        background-color: #ffffff;
      }
    }
  }

  .info-wrapper {
    .row {
      display: flex;
      margin: 5px 0;

      .checkbox {
        margin-right: 10px;
      }

      .list {
        list-style-position: outside;
        margin-left: 18px;

        li {
          line-height: 1;
          color: lighten($color-text-regular, 60);
        }
      }

      .subscr {
        font-size: .8em;
        color: lighten($color-text-regular, 60);
        line-height: 1;

        &.block {
          display: block;
          margin-top: 5px;
        }
      }
    }
  }
}
