<div>
  <app-header [isRoot]="isRoot"
              [header]="header"
              [isArticlePage]="isArticlePage"
              [isArticlesPage]="isArticlesPage">
  </app-header>

  <main class="content">
    <router-outlet></router-outlet>
  </main>

  <app-footer class="footer" *ngIf="isBrowser" #footerComponent></app-footer>
</div>

<app-modal></app-modal>

<ng-template #cookieConfirmationModal let-source="modalData">
  <div class="modal-confirm-wrapper">
    <h3>{{modalConsent.header}}</h3>
    <div class="info-wrapper">
      <div class="row" *ngFor="let option of modalConsent.options; let i = index">
        <div class="checkbox">
          <input type="checkbox" id="c-{{i}}" [(ngModel)]="option.model" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="label">
          <label for="c-{{i}}">{{option.header}}</label>
          <label class="block subscr" for="c-{{i}}">{{option.subscr}}</label>
          <ul class="list" *ngIf="option.items?.length">
            <li *ngFor="let li of option.items"><label class="subscr" for="c-{{i}}">{{li}}</label></li>
          </ul>
        </div>
      </div>
      <p class="privacy-policy">
        {{modalConsent.privacyPolicy[0]}}
        <span (click)="showPP()" class="active-link">{{modalConsent.privacyPolicy[1]}}</span>
        {{modalConsent.privacyPolicy[2]}}
      </p>
    </div>

    <button class="button" (click)="agreeToCookies(modalConsent.options)">OK</button>
  </div>
</ng-template>
