@import './../../../../styles/variables';

.footer {
  background-repeat: no-repeat;
  background-image: url(/assets/footer.png);
  background-position: 50% 100%;
  background-size: cover;
  width: 100%;
  padding-bottom: 150px;

  &-links {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .link {
      padding: 0 10px;
      border-right: 1px solid black;

      &.designed::ng-deep {
        a:hover {
          text-decoration: underline;
        }
      }

      &.tc {
        cursor: pointer;
        font-weight: 700;

        &:hover {
          text-decoration: underline;
        }
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}

.pp-body::ng-deep {
  h4 {
    margin-top: 20px;
  }

  li {
    margin-top: 10px;
  }

  p {
    font-size: .8em;
    color: lighten($color-text-regular, 60);
  }
}
